:root {
    --glow: rgba(220, 233, 38, 1);
    --background: rgb(20, 36, 83);
    --lightbackground: rgb(29, 51, 115);
    --dark: rgb(20, 27, 32);
    --lighterdark: rgb(46, 70, 87);
    --cardglow: rgb(194, 243, 16);
    --darkteal: rgb(4, 41, 56);
    --midteal: rgb(2, 55, 77);
    --darkbrown: #382933;
    --darkgray: #2C3333;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes resizeX {
    0%{
        transform:scaleX(2, 2);
    }
    100%{
        transform:scaleX(1, 1);
    }
}

@keyframes resizeY {
    0%{
        transform:scaleX(2, 2);
    }
    100%{
        transform:scaleX(1, 1);
    }
}

.logo {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex: 0 0 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5vh;
    left: 1vw;
}

#review {
    font-size: 3.5rem;
    font-family: 'Bungee Spice', cursive;
    position: relative;
    bottom: 18vh;
    left: 25vw;
    text-shadow: white 10px 10px 10px;
    transform: rotate(-10deg);
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 0px;
}

.full-logo {
    margin-left: auto;
    margin-right: auto;
}

.select {
    position: relative;
    bottom: 18vh;
    animation: fade 0.5s ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
    opacity: 0;
    text-align: center;
    font-family: 'Lumanosimo', cursive;
    text-shadow: 0 0 10px darkgoldenrod;
}

body {
    background-image: url(./assets/images/haven2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: gold;
}

.jakImg {
    height: 100%;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
}

.card-box {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 15vh;
}

.card {
    padding: 0px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 0px;
    border: solid orangered 3px;
    border-radius: 15px;
    animation: fade 0.7s ease-in 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    user-select: none;
    opacity: 0;
    box-shadow: 0 0 30px 1px darkgray;
}

.card :hover {
    box-shadow: 0 0 20px 20px var(--cardglow);
}
.card > img {
    filter: opacity(100%);
}

a:hover {
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.jakrunning {
    height: 35vh;
    width: 50%;
    object-fit: cover;
    object-position: top;
    border: solid orangered 3px;
    position: relative;
    border-radius: 1000px;
    box-shadow: 0 0 20px 5px coral;
}
.jak1cover {
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin-top: 30px;
}

.jak1logo {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 20%;
    bottom: 72%;
}

.content-box {
    height: auto;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid orangered 3px;
    background-color: rgb(20, 36, 83);
    padding: 30px;
    border-radius: 50px;
}

h2 {
    font-family: 'Bungee Spice', cursive;
    font-size: 2rem;
}

h3 {
    font-family: 'Bungee Spice', cursive;
    font-size: 1.5rem;
}
p {
    font-size: 1.3rem;
    font-family: arial;
}

.misty {
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    border: solid darkolivegreen 3px;
}

#misty {
    float: left;
}

.ottsel {
    height: 30vh;
    width: 12vw;
    border: double darkolivegreen 2px;
    border-radius: 10px;
    background-color: var(--lighterdark);
}

#ottsel {
    float: right;
    font-style: italic;
    text-align: center;
}

figcaption {
    background-color:darkolivegreen;
    font-size: 1.2rem;
    border-radius: 10px;
    font-style: italic;
    text-align: center;
}

.eco-list {
    background-color: rgb(20, 27, 32);
    border-radius: 10px;
    width: 20vw;
    padding: 2%;
    text-align: center;
    list-style: none;
    margin-left: 5%;
    border: solid var(--lighterdark) 2px;
}

li {
    font-family: arial;
    color: darkgray;
}

li > span {
    font-weight: bold;
    font-family: arial;
}

.green-eco > span {
    color: lime;
}

.blue-eco > span{
    color: rgb(0, 153, 255);
}

.yellow-eco > span {
    color: yellow;
}

.red-eco > span {
    color: red;
}

.dark-eco > span {
    color: rgb(102, 0, 128);
}

.light-eco > span {
    color: azure;
}

.eco-img {
    border-radius: 10px;
    width: 20vw;
    height: 20vh;
}

#ecofigure {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 7vh;
    left: 24vw;
    margin-right: 5%;
    border: solid darkolivegreen 3px;
    border-radius: 13px;
}

#ecofigure > figcaption {
    font-style: italic;
    text-align: center;
}

.gameplay {
    position: relative;
}

.flutflut {
    height: 30vh;
    width: 12vw;
    border: solid darkolivegreen 3px;
    border-radius: 10px;
    background-color: var(--lighterdark);
}

#flutflut {
    float: left;
}

.zoomer {
    height: 30vh;
    width: 25vw;
    border: solid darkolivegreen 3px;
    border-radius: 10px;
}

#zoomer {
    float: right;
}

hr {
    border: solid orangered 1px;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    position: fixed;
    top: 20px;
    color: orangered;
    margin-left: 0.5%;
    font-size: 1.5rem;
    padding: 10px;
    border: solid orangered 3px;
    border-radius: 10px;
    background-color: rgb(20, 36, 83);
    text-align: center;
}

a {
    color: orangered;
    text-decoration: none;
    font-family: 'Bungee Spice', cursive;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    box-shadow: 0 0 10px 5px rgb(194, 243, 16);
}

.plantboss {
    height: 30vh;
    width: 22vw;
    border-radius: 10px;
    border: solid darkolivegreen 3px;
}

#plantboss {
    float: left;
}

.plantfight {
    background-color: rgb(20, 27, 32);
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border: solid var(--lighterdark) 2px;
}

.klawwboss {
    width: 25vw;
    border-radius: 10px;
    border: solid darkolivegreen 3px;
}

#klawwboss {
    float: right;
}

.klawwfight {
    background-color: rgb(20, 27, 32);
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border: solid var(--lighterdark) 2px;
}

.robotboss {
    height: 30vh;
    width: auto;
    border-radius: 10px;
    border: solid darkolivegreen 3px;
    background-color: var(--lighterdark);
}

#robotboss {
    float: left;
}

#robotfight {
    background-color: rgb(20, 27, 32);
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border: solid var(--lighterdark) 2px;
}

#jak1score {
    text-align: center;
    font-size: 3.3rem;
    background-color: rgb(20, 27, 32);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#jak1score > span {
    font-size: 2rem;
    position: relative;
    bottom: 0.5vh;
}

.jak2cover {
    display: flex;
    justify-content: center;
    height: 35vh;
    width: 50%;
    margin-top: 30px;
    object-fit: cover;
    border: solid orangered 3px;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.jak2Img {
    display: flex;
    object-fit: cover;
    height: 35vh;
    width: 100%;
    object-position: center;
    border-radius: 200px;
    justify-content: center;
    box-shadow: 0 0 20px 10px orangered;
}

.jak2text {
    position: absolute;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    left: 56%;
    bottom: 60%;
}

.grid-container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    height: 60vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2%;
    border-radius: 20px;
}

.item {
    background-color: rgb(20, 36, 83);
    border-radius: 20px;
    border: solid orangered 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 10px;
    overflow: none;
    white-space: normal;
    margin-bottom: 2vh;
}

.synopsis-grid {
    grid-column: span 2;
    grid-row: span 3;
}

.trailer-grid {
    grid-row: span 2;
    padding-left: 0px;
    padding-right: 0px;
}
.gameplay-grid {
    grid-row: span 1;
}

video {
    height: auto;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 0 25px 8px var(--lighterdark);
    border: solid black 2px;
    padding: 0px;
    margin: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1vh;
}

.item > h2 {
    margin-top: 0;
}

.item > p {
    margin: 0;
}

.left-grid {
    grid-column: span 2;
    gap: 2%;
}

.right-grid {
    grid-column: span 1;
    gap: 2%;
}

.bottom-grid {
    grid-column: span 3;
    gap: 2%;
}

.jak2guns {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.guns-table-container {
    display: grid;
    grid-template: 1fr repeat(3, 1fr) / 1fr 1.5fr;
    background-color: black;
    text-align: center;
    border: solid black 3px;
    border-radius: 5px;
    gap: 3px;
}

.gun-name {
    grid-column: span 2;
    background-color: teal;
    border-radius: 1px;
}

.gun-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gun-left {
    background-color: darkolivegreen;
    border-radius: 1px;
    font-weight: bold;
    color: lightyellow;
}

.gun-right {
    background-color: darkslategray;
    border-radius: 1px;
    color: lightyellow;
}

#guns-table {
    border: solid mediumseagreen 5px;
    border-radius: 5px;
    margin-bottom: 2vh;
}

.gun-name > h3 {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 3px;
    box-shadow: 0 0 20px black;
}

.guns-grid > p{
    margin-bottom: 3vh;
    width: 94%;
    display: flex;
    text-align: justify;
    background-color: var(--lightbackground);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px 5px var(--dark);
    border: solid var(--lighterdark) 2px;
}

.character-grid-box {
    display: grid;
    grid-template: 3fr 2fr 3fr 2fr / 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background-color: var(--dark);
    row-gap: 1%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: solid var(--lighterdark) 2px;
}

.character-pic {
    width: 10vw;
    height: 35vh;
    object-fit: contain;
    background-color: var(--lightbackground);
    border-radius: 30px;
    border: solid royalblue 2px;
}

.character-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.characters-grid {
    display: flex;
    text-align: justify;
}

#character-name {
    font-family: 'Bungee Spice', cursive;
    font-style: normal;
    background-color: var(--lightbackground);
    border: solid royalblue 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 3px greenyellow;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    position: relative;
    bottom: 25px;
}

#character-caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lighterdark);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 22vh;
    width: 12vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: solid royalblue 2px;
}

.synopsis-grid > p {
    background-color: var(--lightbackground);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px 5px var(--dark);
    border: solid var(--lighterdark) 2px;
}

.character-pic:hover {
    box-shadow: 0 0 20px 20px var(--glow);
}

.zoomer-grid {
    display: grid;
    grid-template: 0.5fr 2fr repeat(3, 1fr) / 1fr 1.5fr;
    background-color: var(--dark);
    width: 90%;
    border: solid darkcyan 3px;
    margin-bottom: 2vh;
    border-radius: 5px;
    gap: 1%;
    color: lightyellow;
}

.zoomer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightbackground);
}

.zoomer-name {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    background-color: var(--darkteal);
}

.zoomer-pic {
    grid-column: span 2;
    background-color: var(--lighterdark);
    width: auto;
}

.zoomer-left {
    font-weight: bold;
    background-color: var(--darkgray);
}

.zoomer-right {
    background-color: var(--midteal);
}

.vehicles-grid > ul > li > span {
    color: var(--glow);
}

.vehicles-grid > ul > li {
    color: rgb(114, 145, 245);
    padding-bottom: 1vh;
    background-color: var(--darkteal);
    list-style: none;
    padding: 5%;
    margin-left: -2.5em;
    border-radius: 10px;
}

.vehicles-grid > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid darkcyan 2px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.jetboard-pic {
    height: 12vh;
    width: auto;
    background-color: var(--lighterdark);
    border-radius: 10px;
    border: solid darkcyan 2px;
}

.jetboard {
    background-color: var(--darkteal);
    border: solid darkcyan 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    width: 75%;
}

.jetboard > ul > li {
    list-style: none;
    margin-left: -2.5em;
    padding-top: 2%;
    color: rgb(65, 152, 252);
    text-align: center;
}

.jetboard > h3 {
    background-color: var(--dark);
    box-shadow: 0 0 10px 5px var(--glow);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 10px;
    border: solid royalblue 2px;
}

.good {
    color: greenyellow;
}

.bad {
    color: orangered;
}

.mid {
    color: gold;
}

iframe {
    height: auto;
    width: 20vw;
    height: 22vh;
    border-radius: 30px;
    box-shadow: 0 0 25px 8px var(--lighterdark);
    border: solid black 2px;
    padding: 0px;
    margin: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1vh;
}