:root {
    --glow: rgba(220, 233, 38, 1);
}
.logo {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex: 0 0 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5vh;
    left: 1vw;
}

#review {
    font-size: 3.5rem;
    font-family: 'Bungee Spice', cursive;
    position: relative;
    bottom: 18vh;
    text-shadow: white 10px 10px 10px;
    transform: rotate(-10deg);
}

.full-logo {
    margin-left: auto;
    margin-right: auto;
}

.select {
    position: relative;
    bottom: 18vh;
}

h1 {
    text-align: center;
    font-family: 'Lumanosimo', cursive;
    text-shadow: black 0 0 10px;
}

body {
    background-image: url(./assets/images/haven2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: gold;
}

.jakImg {
    height: 100%;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
}

.card-box {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 15vh;
}

.card {
    padding: 0px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 0px;
    border: solid orangered 3px;
    border-radius: 15px;
}

.card :hover {
    box-shadow: 0 0 20px 20px rgb(194, 243, 16);
}
.card > img {
    filter: opacity(100%);
}

a:hover {
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.jakrunning {
    height: 35vh;
    width: 50%;
    object-fit: cover;
    object-position: top;
    border: solid orangered 3px;
    position: relative;
    border-radius: 1000px;
}
.jak1cover {
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin-top: 30px;
}

.jak1logo {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 20%;
    bottom: 72%;
}

.content-box {
    height: auto;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid orangered 3px;
    background-color: rgb(20, 36, 83);
    padding: 30px;
    border-radius: 50px;
}

h2 {
    font-family: 'Bungee Spice', cursive;
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
    font-family: arial;
}

.ottsel {
    height: 30vh;
    width: 12vw;
    border: double darkolivegreen 2px;
    border-radius: 10px;
}

#ottsel {
    float: right;
    font-style: italic;
    text-align: center;
}

figcaption {
    background-color:darkolivegreen;
    font-size: 1.2rem;
    border-radius: 10px;
}